@import url(variables.css);


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--white-f2);
}

header{
    width: 100%;
    height: 96px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 22px;
}
.div-aqua {
    background-color: var(--black-14);
    border-radius: 48px;
    width: 304px;
    height: 96px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 5px;
    margin-left: -43px;
    p{
        height: 46px;
        margin-top: 21px;
        color: var(--white-e);
        font-family: "RobotoCondensed-Regular";
        font-size: 48px;
        
    }

}
.div-drop{
    width: 32.26px;
    height: 39.45px;
    
    img{
        margin-top: 30px;
        width: 100%;
        height: 100%;
        /* object-fit: cover; */
    }
}
nav{
    width: 732px;
    height: 38px;
    display: flex;
    flex-direction: column;
    margin-left: -212px;
    gap: 5px;
    margin-top: 49px
    ;
    hr{
        width: 100%;
        border: 1px solid var(--gray-A4);
    }

}
.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    p{
        font-size: 24px;
        color: var(--black-0);
        font-family: "RobotoCondensed-Bold";
        background-color: var(--white-f8);
    }
}
.div-bwMode {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
    align-items: center;
    /* margin-left: 212px; */
    img{
        width: 40px;
        height: 40px;
    }
}
.div-bwMode img:nth-child(1){
    width: 35px;
    height: 35px;
}

.section-beginning {
    margin-left: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between
}
.article-crae {
    height: 592px;
    height: 391px;
    display: flex;
    flex-direction: column;
    margin-top: 62px;
    justify-content: space-between;
    img{
        width: 707px;
        height: 391px;
    }
    h2{
        font-family: "RobotoCondensed-Regular";
        color: var(--black-14);
        font-size: 56.4px;
    }
    p{
        width: 685px;
        font-family: "RobotoCondensed-Regular";
        color: var(--black-14);
        font-size: 26px;
    }
}

.article-buy{
    display: flex;
    flex-direction: column;
    /* margin-top: 135px; */
    /* gap: 10px; */
}
.article-buy button{
    width: 249px;
    height: 59px;
    background-color: var(--black-0);
    border-style: none;
    border-radius: 31.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    p{
        color: var(--white-f);
        font-size: 40px;
        font-family: "RobotoCondensed-Bold";

    }
    img{
        width: 36px;
        height: 36px;
    }

}
.article-socials {
    margin-top: 328px;
    width: 82px;
    height: 218px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    img{
        width: 50px;
        height: 50px;
    }
}

.section-howtoplay {
    display: flex;
    flex-direction: column;
    gap: 41px;
    margin-top: 56px;
}
.article-howto {
    width: 654px;
    height: 258px;
    display: flex;
    flex-direction: column;
    gap: 41px;
    align-self: center;
    justify-self: center;
    text-align: center;


    h3{
        font-family: "RobotoCondensed-Bold";
        font-size: 64px;
        color: var(--black-14);
    }
    p{
        font-family: "RobotoCondensed-Regular";
        font-size: 36px;
        color: var(--black-14);

    }

}
.steps-list{
    width: 1099px;
    display: flex;
    flex-direction: column;
    gap: 83px;
    align-self: center;
}
.article-steps {
    width: 1099px;
    display: flex;
    flex-direction: row;
    font-family: "RobotoCondensed-Regular";
    color: var(--black-0);
    font-size: 28px;
    gap: 32px;
}

.section-helpus {
    display: flex;
    width: 1167px;
    justify-self: center;

}
.article-helpus {
    display: flex;
    flex-direction: column;
    gap: 43px;
    h3{
        font-family: "RobotoCondensed-Bold";
        color: var(--black-0);
        font-size: 72px;
    }
    p{
        font-family: "RobotoCondensed-Regular";
        font-size: 36px;
        color: var(--black-0);
    }

}
.article-donate {
    display: flex;
    flex-direction: column;
    gap: 43px;
    button{
        align-self: center;
        width: 282px;
        height: 57px;
        background-color: var(--black-0);
        color: var(--white-f);
        font-size: 36px;
        font-family: "RobotoCondensed-Bold";
        border-style: none;
        border-radius: 36px;
    }

}

.section-aboutUs {
    display: flex;
    width: 1160px;
    justify-self: center; 

    h3{
        font-family: "RobotoCondensed-Bold";
        color: var(--black-0);
        font-size: 72px;
    }
    p{
        font-family: "RobotoCondensed-Regular";
        font-size: 36px;
        color: var(--black-0);
    }
}
.article-aboutUs{
    display: flex;
    flex-direction: column;
}
.article-aboutUs p:nth-child(2){
    margin-top: 69px;
}
.article-aboutUs p:last-child{
    margin-top: 40px;
}
.aqua2{
    display: flex;
    align-items: center;
    justify-content: center;
    h3{
        font-family: "RobotoCondensed-Regular";
        font-size: 96px;
    }
}
.imgdiv{
    margin-top: 12px;
}

.article-blindPeople{
    margin-top: 115px;
}