:root{
    --black-0: #000000;
    --black-14: #141414;
    --white-f: #FFFFFF;
    --white-f2: #F2F2F2;
    --cyan: #2ECDFF;
    --white-f8: #F8F8F8;
    --gray-7: #707070;
    --gray-8: #8B8B8B;
    --gray-A4: #A4A4A4;
    --white-e: #E7E7E7;

}
@font-face {
    font-family: "example";
    src: url(/storage/font/example.ttf);
}